<div>
  <h1>Seattle Patio Club</h1>
</div>

<div class='row'>
  <span class='left random-patio-link'><%= link_to 'Take me somewhere fun!', random_patios_path %></span>
  <%= render_weather_info(@weather_datum) %>
</div>

<marquee><%= 'Welcome! :~)' %></marquee>

<div class='index-break'></div>

<div class='row'>
  <% Patio.regions.each do |region, _v| %>
    <div class='column'><%= region.titleize %></div>
  <% end %>
</div>
<div class='row'>
  <div class='column'><%= render_patios(@patios.south) %></div>
  <div class='column'><%= render_patios(@patios.central) %></div>
  <div class='column'><%= render_patios(@patios.downtown) %></div>
  <div class='column'><%= render_patios(@patios.north) %></div>
</div>

<div class='row manifesto'>
  <span>This is a curated list of our favorite patios to dine on in Seattle. It is not intended to be comprehensive.</span>
</div>

<div class='row manifesto'>
  <span>If you think we missed one, send us an email at:</span> <%= mail_to 'seattle.patio.club@gmail.com' %>
</div>
