<div>
  <h1>Seattle Patio Club
    <%= link_to '** NEW ** SEATTLE PATIO CLUB MIX SERIES', mixes_path, class: 'weather' %>
    <span id="play_player"><%= fa_icon 'play-circle' %></span>
    <span id="pause_player"><%= fa_icon 'pause-circle' %></span>
  </h1>

  <audio controls autoplay id="player">
    <source src="<%= "#{Mix.first.s3_url}" %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<div class='row'>
  <span class='left random-patio-link'><%= link_to 'Take me somewhere fun!', random_patios_path %></span>
  <%# TODO: fix weather.... %>
  <%# render_weather_info(@weather_datum) %>
</div>

<marquee><%= 'Welcome! :~)' %></marquee>

<div class='index-break'></div>

<%= form_tag patios_path, method: :get do %>
  <div class='patio-filter-container inline'>
    <%= label_tag :is_covered, 'Covered patio', class: 'inline' %>
    <%= check_box_tag :is_covered, nil, params[:is_covered] %>
  </div>
  <div class='patio-filter-container inline'>
    <%= label_tag :on_rooftop, 'Rooftop', class: 'inline' %>
    <%= check_box_tag :on_rooftop, nil, params[:on_rooftop] %>
  </div>
  <div class='patio-filter-container inline'>
    <%= label_tag :has_view, 'Has a view', class: 'inline' %>
    <%= check_box_tag :has_view, nil, params[:has_view] %>
  </div>
  <div class='patio-filter-container inline'>
    <%= label_tag :more_bar_than_restaurant, 'More of a bar vibe', class: 'inline' %>
    <%= check_box_tag :more_bar_than_restaurant, nil, params[:more_bar_than_restaurant] %>
  </div>
  <div class='patio-filter-container inline'>
    <%= label_tag :is_bougie, 'Bougie', class: 'inline' %>
    <%= check_box_tag :is_bougie, nil, params[:is_bougie] %>
  </div>
<% end %>

<div class='row'>
  <div class='column'>
    <div class='region-name'><%= Patio.regions.keys.first.titleize %></div>
    <%= render_patios(@patios.south) %>
  </div>
  <div class='column'>
    <div class='region-name'><%= Patio.regions.keys.second.titleize %></div>
    <%= render_patios(@patios.central) %>
  </div>
  <div class='column'>
    <div class='region-name'><%= Patio.regions.keys.third.titleize %></div>
    <%= render_patios(@patios.downtown) %>
  </div>
  <div class='column'>
    <div class='region-name'><%= Patio.regions.keys.fourth.titleize %></div>
    <%= render_patios(@patios.north) %>
  </div>
</div>

<div class='row manifesto'>
  <span>This is a curated list of our favorite patios to dine on in Seattle. It is not intended to be comprehensive.</span>
</div>

<div class='row manifesto'>
  <span>If you think we missed one, send us an email at:</span> <%= mail_to 'seattle.patio.club@gmail.com' %>
</div>
