<p id="notice"><%= notice %></p>

<div class='center'>
  <div>
    <%= render_name(@patio) %>
  </div>

  <div class='patio-attribute'>
    <%= render_seating_location(@patio) %>
  </div>

  <div class='patio-attribute'>
    <strong><%= render_is_covered(@patio) %></strong>
  </div>

  <div class='patio-attribute'>
    <strong><%= render_has_view(@patio) %></strong>
  </div>

  <div class='patio-attribute'>
    <span class='block underline'>Google Information</span>
    <%= render_google_data(@google_data) %>
  </div>


  <%= link_to 'Back to Index', patios_path %>
</div>
