<div class='center'>

  <div class='animated-name'>
    <%= render_name(@patio) %>
    <div class='hidden name-for-animation'><%= @patio.name %></div>
    <div id='wavy_letters'></div>
  </div>

  <div class='patio-attribute'>
    <%= render_location(@patio) %>
  </div>

  <% if @patio.special_notes.present? %>
    <div class='patio-attribute'>
      <%= render_special_notes(@patio) %>
    </div>
  <% end %>

  <div class='patio-attribute'>
    <%= render_extra_attributes(@patio) %>
  </div>

  <div class='patio-attribute'>
    <%= render_price(@google_data) %>
  </div>

  <div class='patio-attribute'>
    <%= render_hours(@google_data) %>
  </div>

  <div class='google-link'><%= render_external_google_info_link(@patio.google_place_id) %></div>
  <div><%= link_to '<<<<<<<<< Back to Index', patios_path %></div>

  <div class='map-container'>
    <div id="map" class='center'></div>
  </div>

  <% lat, long = @google_data['geometry']['location'].values %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.config.google_api_key %>&callback=initMap"
    async defer></script>
  <script>
      var map;
      var marker;
      var patio_location = {lat: parseFloat('<%= lat %>'), lng: parseFloat('<%= long %>')};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: patio_location,
          zoom: 15
        });

        marker = new google.maps.Marker({
          position: patio_location,
          map: map,
          title: '<%= @patio.name %>'
        });
      }
  </script>
</div>
