<div class='center'>
  <div>
    <%= render_name(@patio) %>
  </div>

  <div class='patio-attribute'>
    <%= @patio.neighborhood %>
  </div>

  <div class='patio-attribute'>
    <%= render_seating_location(@patio) %>
  </div>

  <div class='patio-attribute'>
    <strong><%= render_is_covered(@patio) %></strong>
  </div>

  <div class='patio-attribute'>
    <strong><%= render_has_view(@patio) %></strong>
  </div>

  <div class='patio-attribute'>
    <span class='block underline'>Google Information</span>
    <%= render_google_data(@google_data) %>
  </div>

  <div class='patio-attribute'>
    <%= render_external_google_info_link(@patio.google_place_id) %>
  </div>

  <%= link_to '<<<<<<<<< Back to Index', patios_path %>

  <div class='map-container'>
    <div id="map" class='center'></div>
  </div>

  <% lat, long = @google_data['geometry']['location'].values %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.config.google_api_key %>&callback=initMap"
    async defer></script>
  <script>
      var map;
      var marker;
      var patio_location = {lat: parseFloat('<%= lat %>'), lng: parseFloat('<%= long %>')};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: patio_location,
          zoom: 15
        });

        marker = new google.maps.Marker({
          position: patio_location,
          map: map,
          title: '<%= @patio.name %>'
        });
      }
  </script>
</div>
