<!DOCTYPE html>
<html>
  <head>
    <title>Seattle Patio Club</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Roboto+Mono",
        media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>

    <meta property="og:image" content="<%= image_url('patio_image.png') %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="seattlepatio.club" />
    <meta property="og:title" content="Seattle Patio Club" />
    <meta property="og:description" content="A curated list of Seattle's best patios for dining and drinking" />
    
    <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116570889-1"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116570889-1');
      </script>
    <% end %>
  </head>

  <body>
    <div id="<%="#{controller_name}_#{action_name}"%>" class='page-content'>
      <%= yield %>
    </div>
  </body>
</html>
