<!DOCTYPE html>
<html>
  <head>
    <title>Seattle Patio Club</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Roboto+Mono",
        media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="<%="#{controller_name}_#{action_name}"%>" class='page-content'>
      <%= yield %>
    </div>
  </body>
</html>
