<!DOCTYPE html>
<html>
  <head>
    <title>Seattle Patio Club</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Roboto+Mono",
        media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>

    <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116570889-1"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116570889-1');
      </script>
    <% end %>
  </head>

  <body>
    <div id="<%="#{controller_name}_#{action_name}"%>" class='page-content'>
      <%= yield %>
    </div>
  </body>
</html>
